{% extends 'base.html' %}
{% block title %}Пароль сброшен{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Пароль был сброшен и успешно обновлен</p>
        <div class="custom-button-block">
            <a href="{% url 'recipes:index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>
{% endblock content %}

{% block base_scripts %}{% endblock base_scripts %}
