{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}Сброс пароля{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}
{% block header_title %}Сброс пароля{% endblock header_title %}
{% block tags %}{% endblock tags %}

{% block content %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>
            {% for field in form %}
               {% include 'include/form_group.html' %}
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Сбросить пароль</button>
            </div>
        </form>
    </div>
{% endblock content %}