{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}Изменить пароль{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}
{% block header_title %}Изменить пароль{% endblock header_title %}
{% block tags %}{% endblock tags %}

{% block content %}
    <div class="form-container">
        <form class="form" method="post">

            {% csrf_token %}
            {% for field in form %}
               {% include 'include/form_group.html' %}
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block base_scripts %}{% endblock base_scripts %}
