{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}
{% block title %}Введите новый пароль{% endblock %}
{% block header_title %}Введите новый пароль{% endblock header_title %}
{% block tags %}{% endblock tags %}


{% block content %}
    {% if validlink %}
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% include 'include/form_group.html' %}
                {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Сбросить пароль</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="custom-center-block">
            <p class="custom-text-block">
                Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля.
            </p>
            <div class="custom-button-block">
                <a href="{% url 'recipes:index' %}" class="button button_style_blue">Перейти на главную</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block base_scripts %}{% endblock base_scripts %}
