{% load user_filters %}

<div class="card-user" data-author="{{ author.pk }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author.get_full_name|default:author.username }} </h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:":3" %}
                <li class="card-user__item">
                    {% include 'include/recipe_preview.html' with recipe=recipe %}
                </li>
            {% endfor %}

            {% if author.recipes.count > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'recipes:profile' username=author.username %}" class="card-user__link link">Еще {{ author.recipes.count|add:"-3"|declination:"" }} </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>
