{% load user_filters %}
{% url 'recipes:profile' username=author.username as url_profile %}

{% if user.is_authenticated and user != author %}
    {% if user|is_follower:author %}
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe">
            Отписаться от автора
        </button>
    {% else %}
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
            Подписаться на автора
        </button>
    {% endif %}
{% endif %}