{% load user_filters %}

<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            {% with url=request.resolver_match.url_name %}
            <ul class="nav__items list">
                <li class="nav__item {% if url == 'index' %}nav__item_active{% endif %}"><a
                        href="{% url 'recipes:index' %}" class="nav__link link">Рецепты</a></li>
                {% if user.is_authenticated %}
                <li class="nav__item {% if url == 'follow' %}nav__item_active{% endif %}"><a
                        href="{% url 'recipes:follow' %}" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item {% if url == 'new' %}nav__item_active{% endif %}"><a href="{% url 'recipes:new' %}"
                        class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item {% if url == 'favorites' %}nav__item_active{% endif %}"><a
                        href="{% url 'recipes:favorites' %}" class="nav__link link">Избранное</a></li>
                {% endif %}
                <li
                    class="nav__item {% if user.is_anonymous %}nav__item_disabled{% elif url == 'purchases' %}nav__item_active{% endif %}">
                    <a href="{% url 'recipes:purchases' %}" class="nav__link link">
                        {% if user.is_authenticated %}
                        Список покупок
                        <span class="badge badge_style_blue nav__badge" id="counter">{% if get_purchases_count > 0 %}
                            {{ get_purchases_count }}{% endif %}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <ul class="nav__items list">
                {% if user.is_authenticated %}
                <li class="nav__item {% if url == 'password_change' %}nav__item_active{% endif %}"><a
                        href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                {% else %}
                <li class="nav__item {% if url == 'login' %}nav__item_active{% endif %}"><a href="{% url 'login' %}"
                        class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
        </div>
    </nav>
</header>