<header class="header">
    <nav class="nav">
          <div class="nav__container container">
              <ul class="nav__items list">
                  {% if user.is_authenticated %}
                  <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                  <li class="nav__item"><a href="{% url 'follow_index' %}" class="nav__link link">Мои подписки</a></li>
                  <li class="nav__item"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                  <li class="nav__item"><a href="{% url 'favorite' %}" class="nav__link link">Избранное</a></li>
                  <li class="nav__item"><a href="{% url 'shopping_list' %}" class="nav__link link">Список покупок</a>
                      {% if user.user_shopping_list.count > 0%}
                        <span class="badge badge_style_blue nav__badge" id="counter">{{ user.user_shopping_list.count }}</span>
                      {% endif %}
                  </li>
              </ul>
              <ul class="nav__items list">
                  <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                  <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                  {% else %}
                  <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
              </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="{% url 'reg' %}" class="button button_style_blue">Создать аккаунт</a></li>
                   {% endif %}
            </ul>
          </div>
    </nav>

</header>
