{% load recipe_filters %}
{% load user_filters %}
<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe_view' username=recipe.author.username recipe_id=recipe.id %}" class="link" target="_blank">
        {% load thumbnail %}
        {% thumbnail recipe.image "900x500" crop="center" upscale=True as im %}
            <img src="{{ im.url }}" alt="{{ recipe.title }}" class="single-card__image">
        {% endthumbnail %}
    </a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe_view' username=recipe.author.username recipe_id=recipe.id %}" target="_blank">{{ recipe.title }}</a>
        {% if recipe.tags %}
          {% include "includes/tags_view.html" with recipe=recipe %}
        {% endif %}
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% include 'includes/buy_button.html' %}

        {% if user != recipe.author %}
            {% include 'includes/favorite_button.html' %}
        {% endif %}
    </div>
</div>
