{% load recipe_filters %}
{% load user_filters %}

 <ul class="tags">
        {% for tag in all_tags %}
            <li class="tags__item">
                <a
                    id="{{ tag.style }}"
                    class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                    {% if tag.style in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                    href="{% url request.resolver_match.view_name %}?{{ request|get_filter_link:tag }}"></a>
                <span class="tags__label">{{ tag.name }}</span>
            </li>
        {% endfor %}
 </ul>
