{% extends 'base.html' %}
{% block title %}Письмо отправлено{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}

    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Подтверждение сброса пароля</h1>
        </div>
        <p class="form__info-text">
            Письмо с инструкциями по восстановлению пароля было отправлено на почту
        </p>
        <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
    </main>

{% endblock content %}
{% block base_scripts %}{% endblock base_scripts %}