{% extends "base.html" %}
{% load user_filters %}
{% block title %} Изменить пароль {% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {% for field in form %}

                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:"form__input" }}

                        {% if form.errors %}
                        {% for error in field.errors %}
                            <span class="form__error">Имя пользоваетеля и пароль не совпадают. Введите правильные данные.</span>
                        {% endfor %}
                    {% endif %}

                    </div>
                </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
