{% extends 'base.html' %}
{% load static %}
{% block title %}
  Об авторе
{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
  <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock static %}

{% block header %}
  <h1 class="main__title">
    Немного обо мне
  </h1>
{% endblock header %}

{% block content %}
  <main class="main container">
    <p class="tags__label">
        ...
      </p>
      <p class="tags__label">
        Мои начинания можно посмотреть тут:
        <a href="https://github.com/nastya-mishina">перейти на GitHub</a>
      </p>
  </main>
{% endblock content %}
