{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% block title %} Создание рецепта {% endblock %}

    <link rel="stylesheet" href="{% static 'pages/form.css' %}">

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        <form action="{% url 'new_recipe' %}" class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{ form.title|addclass:"form__input" }}
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__group">
              <p class="form__label">Теги</p>
              <div class="form__field-group">
                <div class="tags">
                    {% for tag in all_tags %}
                        <div class="tags__item">
                            <input
                                type="checkbox"
                                name="tags"
                                value="{{ tag.id }}"
                                id="id_{{ tag.style }}"
                                class="tags__checkbox tags__checkbox_style_{{ tag.color }}">

                                <label for="id_{{ tag.style }}" class="tags__label">{{ tag.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                {% if form.errors %}
                    {% for error in form.tags.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
              </div>
            </div>

                <div class="form__group">
              <label for="nameIngredient" class="form__label">Ингредиенты</label>
              <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>

                <div class="form__field-group-ingredientes-container">
                    {% for ingredient in recipe.recipe_ingredients.all %}
                    <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                        <span> {{ ingredient.ingredient.title }} {{ ingredient.count }}
                            {{ ingredient.ingredient.dimension }}</span>
                        <span class="form__field-item-delete"></span>
                        <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient" type="hidden"
                            value="{{ ingredient.ingredient.title }}">
                        <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient" type="hidden"
                            value="{{ ingredient.count }}">
                        <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient" type="hidden"
                            value="{{ ingredient.ingredient.dimension }}">
                    </div>
                    {% endfor %}
                </div>

                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error"></span>
              </div>
            </div>

            <div class="form__group">
                <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.time|addclass:"form__input" }}
                    <label for="{{ form.time.id_for_label }}" class="form__label">минут</label>
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|addclass:"form__textarea" }}
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image|addclass:"form__file-button" }}
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__footer">
                {% block form_button %}
                    <button class="button button_style_blue">Создать рецепт</button>
                {% endblock %}
            </div>
        </form>
    </div>
</main>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}
