{% extends "base.html" %}
{% load user_filters %}
{% load recipe_filters %}
{% block title %} Рецепты {% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ author.get_full_name }}</h1>
             <ul class="tags">
                {% for tag in all_tags %}
                    <li class="tags__item">
                        <a
                            id="{{ tag.style }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                            {% if tag.style in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                            href="{% url request.resolver_match.view_name username=author.username %}?{{ request|get_filter_link:tag }}"></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}
             </ul>

        </div>
        {% if user != author %}
        <div class="author-subscribe" data-author="{{ author.id }}">
            <p style="padding: 0 0 2em 0;">
                {% include 'includes/follow_button.html' %}
            </p>
        </div>
        {% endif %}
        <div class="card-list" >
            {% for recipe in page %}
                {% include "includes/recipe.html" with recipe=recipe %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </main>
  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}

