{% load user_filters %}

{% with url=request.resolver_match.url_name %}

<ul class="tags">

    {% for tag in all_tags %}

    <li class="tags__item">
        <a id="{{ tag.style }}" class="tags__checkbox tags__checkbox_style_{{ tag.color_tags }} 
        {% if tag.style in request.GET|get_filter_values %} tags__checkbox_active {% endif %}" 
        {% if url == 'index' %}
        href="{% url 'index' %}?{{ request|get_filter_link:tag }}"></a>
        {% elif url == 'favorite' %}
        href="{% url 'favorite' %}?{{ request|get_filter_link:tag }}"></a>
        {% elif url == 'profile' %}
        href="{{ username }}?{{ request|get_filter_link:tag }}"></a>
        {% endif %}
        <span class="tags__label">{{ tag.title }}</span>
    </li>

    {% endfor %}

</ul>

{% endwith %}