{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}{% if recipe %}Редактирование рецепта{% else %}Создание рецепта{% endif %}{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}

{% block header_title %}{% if recipe %}Редактирование рецепта{% else %}Создание рецепта{% endif %}{% endblock %}
{% block tags %}{% endblock tags %}
{% block content %}

<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">
            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
            <div class="form__field-group {% if field.name == 'cooking_time' %}form__field-group_time{% endif %}">
                {% if field.name == 'tags' %}
                <div class="tags">
                    {% for tag in form.fields.tags.choices.queryset %}
                    <div class="tags__item">
                        <input type="checkbox" name="tags" value="{{ tag.pk }}" id="id_{{ tag.name }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.color }}" <label for="id_{{ tag.name }}"
                            class="tags__label">{{ tag.get_title_display }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% elif field.name == 'ingredients' %}
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>

                <div class="form__field-group-ingredientes-container">
                    {% if recipe %}
                    {% for ingredient in recipe.recipeingredient_set.all %}
                    <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                        <span> {{ ingredient.ingredient.title }} {{ ingredient.quantity }}
                            {{ ingredient.ingredient.dimension }}</span>
                        <span class="form__field-item-delete"></span>
                        <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient" type="hidden"
                            value="{{ ingredient.ingredient.title }}">
                        <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient" type="hidden"
                            value="{{ ingredient.quantity }}">
                        <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient" type="hidden"
                            value="{{ ingredient.ingredient.dimension }}">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                {% elif field.name == 'text' %}
                {{ field|addclass:"form__textarea" }}
                {% elif field.name == 'cooking_time' %}
                {{ field|addclass:"form__input" }}
                <label for="id_time" class="form__label">минут</label>
                {% elif field.name == 'image' %}
                {{ field }}
                {% else %}
                {{ field|addclass:"form__input" }}
                {% endif %}

                {% if field.errors %}
                {% for error in field.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form__footer">
            {% if recipe %}
            <button class="button button_style_blue">Сохранить</button>
            <a style="margin-left: 2.5em"
                href="{% url 'recipes:recipe_delete' username=recipe.author.username pk=recipe.pk %}"
                class="form__ingredient-link">Удалить</a>
            {% else %}
            <button class="button button_style_blue">Создать рецепт</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock scripts %}