{% extends 'base.html' %}
{% load static %}

{% block title %}Избранное{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock css %}

{% block header_title %}Избранное{% endblock header_title %}
{% block content %}
    <div class="card-list">
        {% for recipe in page_obj %}
            {% include 'include/recipe_card.html' with recipe=recipe %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'include/paginator.html' with page=page_obj paginator=paginator %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock scripts %}

