{% extends 'base.html' %}
{% load static %}
{% block title %}Мои подписки{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">{% endblock css %}

{% block header_title %}Мои подписки{% endblock header_title %}
{% block tags %}{% endblock tags %}
{% block content %}
    <div class="card-list">
        {% for author in object_list %}
            {% include 'include/author_card.html' with author=author %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'include/paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'myFollow.js' %}"></script>
{% endblock scripts %}
